#imgSlider{
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-top: 25px;
}

#imgSlider img{
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -5;
  position: absolute;
}

#topHeader{
  background-color:rgba(0, 6, 8, 0.5);
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 0;
  position: absolute;
}

#topHeader h1{
  padding-top: 10%;
  color: #F6C02B;
  z-index: 5;
  text-align: center;
}

#topHeader article{
  height: 100%;
}

#nav a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25em;
  z-index: 5;
}
