#imgSlider{
  height: 550px;
  overflow: hidden;
  position: relative; }

#imgSlider img {
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 550px;
  z-index: -5;
  position: absolute;
  min-height: 550px;
}


#topHeader{
  background-color:rgba(0, 6, 8, 0.5);
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 0;
  position: absolute; }

#topHeader h1{
  padding-top: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 450%;
  color: white;
  z-index: 5;
  text-align: center; }

#topHeader a{
  text-decoration: none; }

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 450%;
  color: white; }

h2{
  padding: 5%;
  font-family: 'Oswald', sans-serif;
  text-align: center; }

#topHeader article{
  height: 100%; }

#nav a{
  color: #F6B316;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 175%;
  z-index: 5;
  margin-bottom: 20px;
}

.current {
  border: 1px solid;
}

#logo{
  margin-left: 50%;
}

#logo img{
 width: 274px;
 height: 274px;
 margin-left: -137px;
}


hr {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  color: #F6B316;
  display: block;
  height: 3px;
  padding: 0; }

footer {
  text-align: center;
  padding-top: 2%; }

p {
font-family: 'Roboto', sans-serif;
font-weight: 700; }

.statement {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  font-weight: 700;
  text-align: center;
  padding-bottom: 3%; }

#intro {
  padding: 2%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  width: 50%;
  font-weight: 700; }

#intro-wrap {
  background-color: white;
  width: 100%; }

#trggr-wrap {
  width: 100%;
  background-color: #F6B316;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center; }

#trigger{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: black;
}

.noDuwamish {
  font-weight: 700;
  font-size: 110%; }

.slider {
  background-color: #C7C7C7; }

#hidden-pol {
  display:none; }

#hidden-letter {
  display: none; }

.hansen-quote {
  text-align: center;
  padding-top: 3%;
  font-weight: 400; }

.signature {
  font-weight: 400; }

.takeAstand, .selectPol, .letterPrompt {
  text-align: center;
  font-size: 150%;
}

form {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center; }

.user-button, .fillin-button {
  border: 0;
  box-shadow: 0 5px 4px #A6A6A6;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear; }

.user-button:active, .fillin-button:active {
  box-shadow: 0 3px 0 #A6A6A6;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px); }

button {
  box-shadow: 0 5px 4px #A6A6A6;
  cursor: pointer;
  margin: 0;
  outline: 0;
  transition: all .1s linear; }

button:active {
  box-shadow: 0 3px 0 #A6A6A6;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px); }

.polpick {
  text-align: center; }

.polbutton {
  border-radius: 100px;
  transition: all .1s linear;
  border: 2px outset buttonface; }

.polbutton:hover {
  cursor:pointer; }

.polbutton:active {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px); }

.donate {
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  width: 65%; }

.donate p {
  padding-bottom: 18px; }

.donate a {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  font-weight: 700; }

.donate button{
  background-color: #F6B316;
  color: black;
  height: 4%; }

.learnText {
  padding-top: 3%; }

.learnText p{
  font-weight: 400; }

.learnText h3{
  font-family: 'Oswald', sans-serif;
  font-size: 175%; }

#enter {
  margin-left: 40px;
  background-color: white;
}
