#donate-wrapper {
  margin: 0 auto;
  padding-bottom: 2rem;
  p {
    padding-bottom: 2rem;
  }

  .donate-email {
    text-decoration: none;
    font-size: 1.25em;
    color: @orange;
    &:hover {
      color: @orange+#222;
    }
  }
}
