
footer {
  text-align: center;
  padding-top: 2%;
  a {
    text-decoration: none;
  }
}
.teenytiny {
  text-decoration: none;
  color: black;
  font-size: 75%;
  a {
    color:black;
    padding: 5px 20px;
    display:inline-block;
    background-color: @orange;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #000;
    margin-top: 20px;
  }
}
