
#imgSlider{
  height: 550px;
  margin-bottom: 3rem;
  padding-top: 5rem;
  overflow: hidden;
  position: relative;
  > img {
    width: 100%;
    z-index: -5;
    position: absolute;
  }
  #topHeader{
    background-color: @sephia-tone;
    height: 100%;
    width: 100%;
    text-align: center;
    .stand-with-header {
      .headline-font;
      text-decoration: none;
      font-size: 7rem;
      text-align: center;
      color: @evergreen;
      text-shadow: 1px 1px 1px black;
    }
    .nav-link {
      .headline-font;
    }
  }
  #nav {
    margin-top: 2rem;
    .nav-link {
      margin: 0 2rem;
      border: 2px solid transparent;
      padding: .5rem 1.5rem;
      text-decoration: none;
      font-size: 3rem;
      color: white;
      &:hover {
        background-color: @evergreen;
        color: white;
      }
    }
    .current {
      border: 2px solid @evergreen;
    }
  }
}
