header {
  background-color: #464646;
  width: 100%;
  position: fixed;
  z-index: 5;
  #homepage-link-icon {
    height: 100%;
  }
  #main-nav {
    height: 5rem;
    color: white;
    > .nav-link {
      .headline-font;
      text-decoration: none;
      color: white;
      font-size: 2rem;
      line-height: 5rem;
      vertical-align: top;
      margin: 0 2rem;
      &:hover {
        color: @evergreen;
      }
    }
  }
}
#imgSlider{
  height: 550px;
  padding-top: 5rem;
  overflow: hidden;
  position: relative;
  > img {
    width: 100%;
    z-index: -5;
    position: absolute;
  }
  #topHeader{
    background-color: @sephia-tone;
    height: 100%;
    width: 100%;
    text-align: center;
    .stand-with-header {
      .headline-font;
      text-decoration: none;
      font-size: 7rem;
      text-align: center;
      color: @evergreen;
      text-shadow: 0px 0px 1px black;
    }
    .nav-link {
      .headline-font;
    }
  }
  #nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    .nav-link {
      margin: 0 2rem;
      border: 2px solid transparent;
      padding: .5rem 1.5rem;
      text-decoration: none;
      font-size: 3rem;
      color: white;
      &:hover {
        background-color: @evergreen;
        color: white;
      }
    }
    .current {
      border: 2px solid @evergreen;
    }
  }

}
