
#intro-wrap {
  margin-bottom: 2rem;
  #intro {
    text-align: left;
    .text-font;
  }

  #logo{
    text-align: center;
    float: left;
    margin: 0 2rem 2rem 0;
    width: 27rem;
    @media screen and (max-width: @small-bp) {
      float: none;
      display: block;
      margin: auto;
      margin-bottom: 2rem;
    }
  }

  .call-to-action {
    font-size: 2.5rem;
    margin: auto;
    display: block;
    max-width: 50rem;
  }
}

