
#tas-wrapper {
  padding-top: 5rem;
  .banner {
    background-color: @green;
    text-align: center;
    padding: 4rem 2rem;
    .standings {
      margin: auto;
      text-align: center;

      .count-number {
        color: @call-out-color;
        font-size: 2em;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
      }

      .signatures {
        display: inline-block;
        position: relative;
        text-align: center;
        border-right: 2px dotted black;
        width: 7em;
      }

      .needed-signatures {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 7em;
      }

      .meter {
        margin: 2em auto;
        background: #555;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 10px;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

        #meter-bar {
          width: 0%;
          height: 1.2em;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background-color: @call-out-color;
          background: linear-gradient(
            @call-out-color 40%,
            rgb(2, 177, 189) 70%
          );
          box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
        }
      }
    }
  }

  //*****************THANX MESSAGE ********************************
  .signed {
    background-image: url('../photos/logo.png');
    height: 30em;
    background-repeat: no-repeat;
    color: @evergreen;
    text-align: center;
  }

  .thanx-message {
    display: none;
    width: 100%;
    line-height: 6rem;
    background-color: #F6B316;
    margin-top: 4rem;
    font-size: 2rem;
    .thanx-line {

    }
    #insert-name {
      color: @action-red;
      font-weight: bold;
      text-shadow: 1px 1px 1px black;
    }
  }


  // Steps
  .container {
    margin-top: 2rem;
  }
  .action {
    margin-bottom: 4rem;
    .button {
      display: block;
    }
  }
// ************************* STEP 1 *************************
  .step1 {
    display: inline-block;
    margin-top: 0;
    width: 100%;

    form.signature-form {
      text-align: right;
      width: 100%;
      label {
        margin-bottom: 3rem;
      }
      input {
        background-color: #999;
        color: #FFF;
        width: 70%;
        margin-bottom: 0;
      }
      @media (min-width: 400px) {
        #signature-form {
          display: table;
        }
        label {
          display: table-row;
        }
        .label-text {
          line-height: 38px; // to match input height
          display: table-cell;
          vertical-align: middle;
          padding-right: 1rem;
        }
        input {
          width: 20rem;
          display: table-cell;
        }

      }


    }
    .button {
      margin: auto;
    }
  }

  #error {
    display: none;
    background-color: #EB7373;
    text-align: center;
    margin-bottom: 1rem;
  }

// ************************* STEP 2 *************************

  .step2 {
    .text{
      margin-bottom: 2rem;
    }
    textarea {
      width: 100%;
      height: 10rem;
      resize: none;
    }
  }

// ************************* STEP 3 *************************

  .step3 {
    #sample-letter {
      width: 100%;
      height: 10rem;
    }
    .pics-container {
    }
    .pol-pics {
      text-align: center;
      margin: 1rem auto;
      border-radius: 2rem;
      transition: all .2s linear;
      cursor: pointer;
      padding: 1rem;

      &:hover {
        background-color: rgb(234, 234, 234);
        box-shadow: 3px 3px 3px #8D8D8D;
      }

      .pol-pic-link {
        font-size: 2rem;
        font-weight: bold;
        .text-font();
      }
      img {
        border-radius: 50%;
        border: 2px solid @blue;
        height: 18rem;
      }
    }

  }



  // ************************* STEP 4 *************************
  .step4 {
    .twibbot-overlay {
      max-width: 20em;
      height: 20em;
      background-image: url("../photos/trish.jpg");
      background-size: cover;
      margin-bottom: 1em;
    }
    button {
      margin-top: 1em;
      margin: auto;
    }
  }
  // ************************* STEP 5 *************************
  .dark-color{
    color: #FFF;
    background-color: #3C3D37;
    .step5 {
      padding: 2em 0;
      margin-top: 2em;
      text-align: left;
      display: block;
      color: #FFF;
    }
    .donate-button-img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      display: block;
      max-width: 12rem;
    }
  }
}




  // @@@@@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@@@@@@

  /// ******************* MOBILE *******************
  // @media (max-width: 450px) {
  //   .banner {
  //     width: 100%;
  //     .standings {
  //       // border: 2px solid green;
  //       display: inline-block;
  //       width: 95%;
  //       .signatures{
  //         border-right: none;
  //       }
  //       .needed-signaturesP{
  //         display: inline-block;
  //       }
  //       .meter {
  //         width: 100%;
  //       }
  //     }
  //   }

  //   #tas-wrapper{
  //     max-width: 100%;
  //     margin: 0;
  //   }
  //   .container{
  //     max-width: 100%;
  //     margin: 0;
  //     &.action {
  //       width: 100%;
  //       margin: 0;
  //     }
  //   }
  //   .step1 {
  //     display: block;
  //     width: 100%;
  //   }

  //   .step2 {
  //     margin: auto;
  //     display: block;
  //     width: 90%;
  //     margin:auto;
  //     .text-left{
  //       width: 35em;
  //       margin:auto;
  //     }
  //     textarea {
  //       border: 1px #555 solid;
  //       width: 95%;
  //       margin-top: 2em;
  //     }
  //   }

  //   .step3 {
  //     textarea{
  //       width: 95%;
  //       border: 1px #555 solid;
  //       margin-top: 2em;
  //     }
  //   }

  //   .step4 {
  //     text-align: left;
  //     .step2;
  //     img {
  //       width: 70%;
  //     }
  //   }

  //   .step5{
  //     .step4;
  //     width: 95%;
  //   }
  // }

  //   /// ******************* TABLET *******************
  // @media (min-width: 450px) and (max-width: 750px){
  //   .pol-pics{
  //     position: relative;
  //     margin: auto;
  //     width: 100%;
  //     div {
  //       font-size: 1.5em;
  //     }

  //     img {
  //       max-width: 100%;
  //     }
  //   }

  //   .action {
  //     // width: 95%;
  //     margin: 2.5em;
  //   }

  //   .step1 {
  //     display: block;
  //     width: 100%;
  //   }

  //   .step2 {
  //     display: block;
  //     clear: left;
  //     width: 95%;
  //   }

  //   .step3 {
  //     .step1;
  //     h3 {
  //       text-align: left;
  //     }

  //     textarea {
  //       width: 100%;
  //     }
  //     text-align: left;
  //   }

  //   .step4{
  //     .step2;
  //     h3 {
  //       text-align: left;
  //     }
  //   }


  //   .step1.signed {
  //     h3 {
  //       max-width: 300px;
  //     }
  //     text-align: left;
  //     width: 60%;
  //     display: block;
  //   }
  // }


  // /// ******************* DESKTOP *******************

  // @media (min-width: 751px) {
  //   .action {
  //     margin: 2.5em;
  //     &.step1 {
  //       margin-left: 5%;
  //       max-width: 40%;
  //       display: inline-block;
  //       &.signed {
  //         margin: auto;
  //         h3 {
  //           text-align: left;
  //           max-width: 30rem;
  //         }
  //       }
  //     }
  //   }

  //   .step2 {
  //     margin-left: 5%;
  //     max-width: 40%;
  //     display: inline-block;
  //   }

  //   .step3 {
  //     .action.step1; // inherit from step1
  //     .pol-pics {
  //       vertical-align: top;
  //       position: relative;
  //       margin: auto;
  //       width: 12rem;
  //       p {
  //         font-size: .8em;
  //         line-height: 1.5rem;
  //       }

  //       img{
  //         max-width: 90%;
  //       }
  //     }
  //   }

  //   .step4{
  //     .step2;
  //   }

  //   .action {
  //     // width: 40%;
  //     .dark-color{
  //       text-align: center;
  //       // padding: 0 10%;
  //       padding: 0 21%;
  //       .step5 {
  //         margin-left: 0;
  //       }
  //     }
  //   }
  // }
